<header class="header header-7">
  <div class="header-top">
    <div class="container-fluid">
      <div class="header-left">
        <div class="header-dropdown">
          <a href="#">Usd</a>
          <div class="header-menu">
            <ul>
              <li><a href="#">Eur</a></li>
              <li><a href="#">Usd</a></li>
            </ul>
          </div><!-- End .header-menu -->
        </div><!-- End .header-dropdown -->

        <div class="header-dropdown">
          <a href="#">Eng</a>
          <div class="header-menu">
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="#">French</a></li>
              <li><a href="#">Spanish</a></li>
            </ul>
          </div><!-- End .header-menu -->
        </div><!-- End .header-dropdown -->
      </div><!-- End .header-left -->

      <div class="header-right">
        <ul class="top-menu">
          <li>
            <a href="#">Links</a>
            <ul>
              <li><a href="tel:#"><i class="fas fa-phone-volume"></i>Call: +0123 456 789</a></li>
              <li><a href="wishlist.html"><i class="fa fa-heart"></i>My Wishlist <span>(3)</span></a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="#signin-modal" data-toggle="modal"><i class="fa fa-user"></i>Login</a></li>
            </ul>
          </li>
        </ul><!-- End .top-menu -->
      </div><!-- End .header-right -->
    </div><!-- End .container-fluid -->
  </div><!-- End .header-top -->

  <div class="header-middle sticky-header">
    <div class="container-fluid">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="fa fa-bars"></i>
        </button>

        <a href="index.html" class="logo">
          <%= image_tag("demos/demo-7/logo.png", style: 'height:25px;width:105px;') %>
        </a>

        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="megamenu-container active">
              <a href="index.html" class="sf-with-ul">Home <i class="fa fa-angle-down fa-xs" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="category.html" class="sf-with-ul">Shop <i class="fa fa-angle-down fa-xs" aria-hidden="true"></i></a>

              <div class="megamenu megamenu-md">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="menu-col">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="menu-title">Shop with sidebar</div><!-- End .menu-title -->
                          <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-market.html"><span>Shop Market<span class="tip tip-new">New</span></span></a></li>
                          </ul>

                          <div class="menu-title">Shop no sidebar</div><!-- End .menu-title -->
                          <ul>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                          </ul>
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                          <div class="menu-title">Product Category</div><!-- End .menu-title -->
                          <ul>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                          </ul>
                          <div class="menu-title">Shop Pages</div><!-- End .menu-title -->
                          <ul>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="dashboard.html">My Account</a></li>
                            <li><a href="#">Lookbook</a></li>
                          </ul>
                        </div><!-- End .col-md-6 -->
                      </div><!-- End .row -->
                    </div><!-- End .menu-col -->
                  </div><!-- End .col-md-8 -->

                  <div class="col-md-4">
                    <div class="banner banner-overlay">
                      <a href="category.html" class="banner banner-menu">
                        <%= image_tag("menu/banner-1.png") %>
                        <div class="banner-content banner-content-top">
                          <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                        </div><!-- End .banner-content -->
                      </a>
                    </div><!-- End .banner banner-overlay -->
                  </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
              </div><!-- End .megamenu megamenu-md -->
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">Product <i class="fa fa-angle-down fa-xs" aria-hidden="true"></i></a>

              <div class="megamenu megamenu-sm">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <div class="menu-col">
                      <div class="menu-title">Product Details</div><!-- End .menu-title -->
                      <ul>
                        <li><a href="product.html">Default</a></li>
                        <li><a href="product-centered.html">Centered</a></li>
                        <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                        <li><a href="product-gallery.html">Gallery</a></li>
                        <li><a href="product-sticky.html">Sticky Info</a></li>
                        <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                        <li><a href="product-fullwidth.html">Full Width</a></li>
                        <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                      </ul>
                    </div><!-- End .menu-col -->
                  </div><!-- End .col-md-6 -->

                  <div class="col-md-6">
                    <div class="banner banner-overlay">
                      <a href="category.html">
                        <%= image_tag("menu/banner-2.jpg") %>

                        <div class="banner-content banner-content-bottom">
                          <div class="banner-title text-white">New Trends<br><span><strong>spring 2019</strong></span></div><!-- End .banner-title -->
                        </div><!-- End .banner-content -->
                      </a>
                    </div><!-- End .banner -->
                  </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
              </div><!-- End .megamenu megamenu-sm -->
            </li>
            <li>
              <a href="#" class="sf-with-ul">Pages <i class="fa fa-angle-down fa-xs" aria-hidden="true"></i></a>

              <ul>
                <li>
                  <a href="about.html" class="sf-with-ul">About</a>

                  <ul>
                    <li><a href="about.html">About 01</a></li>
                    <li><a href="about-2.html">About 02</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html" class="sf-with-ul">Contact</a>

                  <ul>
                    <li><a href="contact.html">Contact 01</a></li>
                    <li><a href="contact-2.html">Contact 02</a></li>
                  </ul>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="404.html">Error 404</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
              </ul>
            </li>
          </ul><!-- End .menu -->
        </nav><!-- End .main-nav -->
      </div><!-- End .header-left -->

      <div class="header-right">
        <div class="header-search header-search-extended header-search-visible">
          <a href="#" class="search-toggle" role="button"><i class="fa fa-search"></i></a>
          <form action="#" method="get">
            <div class="header-search-wrapper search-wrapper-wide">
              <label for="q" class="sr-only">Search</label>
              <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
              <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </div><!-- End .header-search-wrapper -->
          </form>
        </div><!-- End .header-search -->

        <div class="dropdown cart-dropdown">
          <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="fa fa-cart-arrow-down"></i>
            <span class="cart-count">2</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-products">
              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title">
                    <a href="product.html">Beige knitted elastic runner shoes</a>
                  </h4>

                  <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                </div><!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image">
                    <%= image_tag("products/cart/product-1.jpg") %>
                  </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="fas fa-times"></i></a>
              </div><!-- End .product -->

              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title">
                    <a href="product.html">Blue utility pinafore denim dress</a>
                  </h4>

                  <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                </div><!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image">
                    <%= image_tag("products/cart/product-2.jpg") %>
                  </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"><i class="fas fa-times"></i></a>
              </div><!-- End .product -->
            </div><!-- End .cart-product -->

            <div class="dropdown-cart-total">
              <span>Total</span>

              <span class="cart-total-price">$160.00</span>
            </div><!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
              <a href="cart.html" class="btn btn-primary">View Cart</a>
              <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="fas fa-arrow-right"></i></a>
            </div><!-- End .dropdown-cart-total -->
          </div><!-- End .dropdown-menu -->
        </div><!-- End .cart-dropdown -->
      </div><!-- End .header-right -->
    </div><!-- End .container-fluid -->
  </div><!-- End .header-middle -->
</header><!-- End .header -->
